h1 {
  text-align: center;
}



p {
  text-align: center;
}

body {
  background-color: gray;

}
.panel {
  width: 450px
}

.panel {
  margin-top: 20px;
  padding: 10px;
}

.container{
  text-align: center;
  width: 450px;
}

button {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}


/* Showing and hiding*/

p.content {
  display: none;
}

#x {

}

#y {

}
.panel:hover {
  cursor:pointer;
}
